<!-- footer design -->
<footer class="footer">
  <div class="home-sci">
    <div style="padding-right: 2rem;">
      <a href="https://github.com/MaximilianScheel" target="_blank"><i class='bx bxl-github'></i></a>
    </div>
    <a href="https://www.linkedin.com/in/maximilian-scheel-010aa323b/" target="_blank"><i
        class='bx bxl-linkedin'></i></a>
    <span class="animate" style="--i:6;"></span>
  </div>
  <div class="footer-text">
    <p>Copyright &copy; 2023 Maximilian Scheel</p>
    <span class="animate scroll" style="--i:1;"></span>
  </div>
  <div class="footer-iconTop">
    <a href="#"><i class='bx bx-up-arrow-alt'></i></a>
    <span class="animate scroll" style="--i:3;"></span>
  </div>
</footer>