<!-- about section design -->
<section class="about" id="about">
  <h2 class="heading animate">
    About !!!<span>Me</span><span class="animate scroll" style="--i: 1"></span>
  </h2>

  <div class="about-img">
    <img src="assets/img/max.png" alt="" />
    <span class="circle-spin"></span>
    <span class="animate scroll"></span>
  </div>

  <div class="about-content">
    <h3>
      Frontend Developer!<span class="animate scroll" style="--i: 2"></span>
    </h3>
    <p>
      I'm a passionate web developer experienced in building interactive web
      applications using Angular, TypeScript, JavaScript, and OOP. Transitioning
      from a business administration background, I discovered my true passion
      for automating processes through programming.

      I've completed training at
      the Developer Academy and actively contributed to over 12 projects, both
      individually and as part of a team. From dynamic websites to task
      management tools and CRM systems, I've gained valuable experience in
      diverse settings. As an enthusiastic and driven developer, I'm constantly
      seeking new experiences and challenges. Let's connect and explore how I
      can contribute to your team or project, leveraging my expertise in
      collaborative and individual project environments.
      <span class="animate scroll" style="--i: 3"></span>
    </p>
  </div>

  <div class="education-row animate">
    <div class="education-column">
      <h3 class="title">
        Education<span class="animate scroll" style="--i: 2"></span>
      </h3>

      <div class="education-box">
        <div class="education-content">
          <div class="content">
            <div class="year"><i class="bx bxs-calendar"></i> 2022 - 2023</div>
            <h3>Frontend Development - Developer Akademie</h3>
            <p>
              I attended an extensive Coding School where I gained comprehensive
              knowledge in Frontend Development. I'm currently acquiring skills
              in Backend Development and Agile Project Management. I built
              several projects independently and collaboratively during the
              program.
            </p>
          </div>
        </div>

        <div class="education-content">
          <div class="content">
            <div class="year"><i class="bx bxs-calendar"></i> 2021 - 2023</div>
            <h3>Master Degree - Alice Salomon Hochschule Berlin</h3>
            <p>
              I pursued a Master's degree in Management & Health Economics with
              a focus on Business Administration and Controlling. My thesis
              topic involved automating company processes and calculations using
              Python.
            </p>
          </div>
        </div>

        <div class="education-content">
          <div class="content">
            <div class="year"><i class="bx bxs-calendar"></i> 2018 - 2021</div>
            <h3>Bachelor Degree - Alice Salomon Hochschule Berlin</h3>
            <p>
              I completed my Bachelor's degree in Physiotherapy with a focus on
              quantitative research methods and public health.
            </p>
          </div>
        </div>
        <span class="animate scroll" style="--i: 3"></span>
      </div>
    </div>
  </div>
</section>
