.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background: var(--second-bg-color);
  padding-bottom: 6rem;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}


.heading {
  position: relative;
  font-size: 5rem;
  margin-bottom: 3rem;
  text-align: center;
}

span {
  color: var(--main-color);
}

.about-img {
  position: relative;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img img {
  width: 90%;
  border-radius: 50%;
  border: 0.2rem solid var(--main-color);
  height: 88%;
  object-fit: cover;
  background: var(--bg-color)
}

.about-img .circle-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  width: 98%;
  height: 98%;
  border-radius: 50%;
  border-top: 0.2rem solid var(--second-bg-color);
  border-bottom: 0.2rem solid var(--second-bg-color);
  border-left: 0.2rem solid var(--main-color);
  border-right: 0.2rem solid var(--main-color);
  animation: aboutSpinner 8s linear infinite;
}

.about-content {
  text-align: center;
}

.about-content h3 {
  position: relative;
  display: inline-block;
  font-size: 2.6rem;
}

.about-content p {
  position: relative;
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

.btn-box.btns {
  display: inline-block;
  width: 15rem;
}

.btn-box.btns a::before {
  background: var(--second-bg-color);
}

.btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 34.5rem;
  height: 5rem;
}

.btn-box .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 100%;
  background: var(--main-color);
  border: .2rem solid var(--main-color);
  border-radius: .8rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: .1rem;
  color: var(--bg-color);
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.btn-box .btn:hover {
  color: var(--main-color);
}

.btn-box .btn:nth-child(2) {
  background: transparent;
  color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover {
  color: var(--bg-color);
}

.btn-box .btn:nth-child(2)::before {
  background: var(--main-color);
}

.btn-box .btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--bg-color);
  z-index: -1;
  transition: .5s;
}

.btn-box .btn:hover::before {
  width: 100%;
}

.education {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}

.education .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.education-row .education-column {
    flex: 1 1 40rem;
}

.education-column .title {
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.education-column .education-box {
    position: relative;
    border-left: .2rem solid var(--main-color);
}

.education-box .education-content {
    position: relative;
    padding-left: 2rem;
}

.education-box .education-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: var(--main-color);
    border-radius: 50%;
}

.education-content .content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.education-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.education-content .content:hover::before {
    width: 100%;
}

.education-content .content .year {
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: .5rem;
}

.education-content .content .year i {
    padding-right: .5rem;
}

.education-content .content h3 {
    font-size: 2rem;
}

.education-content .content p {
    font-size: 1.6rem;
    padding-top: .5rem;
}


/* KEYFRAMES ANIMATION */
@keyframes homeBgText {

  0%,
  10%,
  100% {
      background-position: -33rem 0;
  }

  65%,
  85% {
      background-position: 0 0;
  }
}

@keyframes homeCursorText {

  0%,
  10%,
  100% {
      width: 0;
  }

  65%,
  78%,
  85% {
      width: 100%;
      opacity: 1;
  }

  75%,
  81% {
      opacity: 0;
  }
}

@keyframes aboutSpinner {
  100% {
      transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes showRight {
  100% {
      width: 0;
  }
}


/* BREAKPOINTS */
@media (max-width: 1200px) {
  html {
      font-size: 55%;
  }
}

@media (max-width: 991px) {
  .header {
      padding: 2rem 4%;
  }

  section {
      padding: 10rem 4% 2rem;
  }

  .home {
      padding: 0 4%;
  }

  .footer {
      padding: 2rem 4%;
  }
}

@media (max-width: 850px) {
  .animate.home-img {
      width: 55%;
  }
}

@media (max-width: 768px) {
  .header {
      background: var(--bg-color);
  }

  #menu-icon {
      display: block;
  }

  .navbar {
      position: absolute;
      top: 100%;
      left: -100%;
      width: 100%;
      padding: 1rem 4%;
      background: var(--main-color);
      box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
      z-index: 1;
      transition: .25s ease;
      transition-delay: .25s;
  }

  .navbar.active {
      left: 0;
      transition-delay: 0s;
  }

  .navbar .active-nav {
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background: var(--bg-color);
      border-top: .1rem solid rgba(0, 0, 0, .2);
      z-index: -1;
      transition: .25s ease;
      transition-delay: 0s;
  }

  .navbar.active .active-nav {
      left: 0;
      transition-delay: .25s;
  }

  .navbar a {
      display: block;
      font-size: 2rem;
      margin: 3rem 0;
      transform: translateX(-20rem);
      transition: .25s ease;
      transition-delay: 0s;
  }

  .navbar.active a {
      transform: translateX(0);
      transition-delay: .25s;
  }

  .home-imgHover {
      pointer-events: none;
      background: var(--bg-color);
      opacity: .6;
  }
}

@media (max-width: 520px) {
  html {
      font-size: 50%;
  }

  .home-content h1 {
      display: flex;
      flex-direction: column;
  }

  .home-sci {
      width: 160px;
  }

  .home-sci a {
      width: 38px;
      height: 38px;
  }
}

@media (max-width: 462px) {
  .home-content h1 {
      font-size: 5.2rem;
  }

  .education {
      padding: 10rem 4% 5rem 5%;
  }

  .contact form .input-box .input-field {
      width: 100%;
  }

  .footer {
      flex-direction: column-reverse;
  }

  .footer p {
      margin-top: 2rem;
      text-align: center;
  }
}

@media (max-width: 371px) {
  .home {
      justify-content: center;
  }

  .home-content {
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
  }

  .home-content h1 {
      font-size: 5rem;
  }
}

