<section class="portfolio" id="portfolio">
  <h2 data-aos="fade-up" class="heading">
    My <span>Portfolio</span><span class="animate scroll" style="--i: 1"></span>
  </h2>
  <p data-aos="fade-up" class="animte-scroll">
    This page is a sample of my work written in Angular | Typescript | JavaScript - please feel free to try them out.
  </p>
  <div data-aos="fade-up" class="container">
    <div class="portfolio-list">
      <div class="projects">
        <img src="assets/img/portfolio-project1.PNG" alt="" />
        <div class="layer">
          <h3>Join</h3>
          <span>Javascript | PHP | HTML | CSS</span>
          <p>
            Task manager inspired by the Kanban System. Create and organize
            tasks using drag and drop functions, assign users and categories.
          </p>
          <div class="btn-container">
            <div class="btn-box">
              <a href="https://maxscheel.dev/Join" target="_blank" class="btn">Try out</a>
            </div>
            <div class="btn-box">
              <a href="https://github.com/MaximilianScheel/Join" target="_blank" class="btn">Github</a>
            </div>
          </div>
        </div>
      </div>
      <div class="projects slideInLeft">
        <img src="assets/img/portfolio-project2.PNG" alt="" />
        <div class="layer">
          <h3>El Pollo Loco</h3>
          <span>Javascript | OOP | HTML | CSS</span>
          <p>
            Jump, run and throw game based on object-oriented approach. Help
            Pepe to find coins and tabasco salsa to fight against the crazy hen.
          </p>
          <div class="btn-container">
            <div class="btn-box">
              <a href="https://maxscheel.dev/El%20Pollo%20Loco" target="_blank" class="btn">Try out</a>
            </div>
            <div class="btn-box">
              <a href="https://github.com/MaximilianScheel/El_Pollo_Loco" target="_blank" class="btn">Github</a>
            </div>
          </div>
        </div>
      </div>
      <!-----<div class="projects">
        <img src="assets/img/portfolio-project3.PNG" alt="" />
        <div class="layer">
          <h3>Slack Clone | COMING SOON</h3>
          <span>Angular | Typescript | Firebase | HTML | SCSS</span>
          <p>
            A Customer Relationship Management system.
          </p>
          <div class="home-sci">
            <a href="#"><i class="bx bx-link-external" target="_blank"></i></a>
            <a href="#"><i class='bx bxl-github' target="_blank"></i></a>
          </div>
        </div>
      </div>-->
      <div class="projects">
        <img src="assets/img/portfolio-project4.PNG" alt="" />
        <div class="layer">
          <h3>My Portfolio</h3>
          <span>Angular | Typescript | SCSS</span>
          <p>
            My personal Website.
          </p>
          <div class="btn-container">
            <div class="btn-box">
              <a [routerLink]="'/home'" fragment="home" class="btn">Try out</a>
              
            </div>
            <div class="btn-box">
              <a href="https://github.com/MaximilianScheel/my-portfolio" target="_blank" class="btn">Github</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>