.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background: var(--second-bg-color);
  padding-bottom: 6rem;
  animation-name: slideInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.portfolio-row {
  max-width: 120rem;
}

section {
  min-height: 80vh;
  padding: 10rem 9% 2rem;
}

.heading {
  position: relative;
  font-size: 5rem;
  margin-bottom: 3rem;
  text-align: center;

  span {
    color: var(--main-color);
  }
}

p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

.portfolio-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 9%;
  padding-top: 5%;
  gap: 2rem;

  img {
    width: 56rem;
    height: 36rem;
    border: 0.2rem solid var(--main-color);
    border-radius: 0.6rem;
    filter: (opacity(70%));

    &:hover {
      transform: scale(1.1);
      transition: all 0.5s ease-in-out;
    }
  }

  h3 {
    font-size: 2.6rem;
    margin-bottom: 1.5rem;
  }

  span {
    font-size: 1.6rem;
    color: var(--main-color);
  }

  .portfolio-content {
    padding-left: 9rem;
  }
}

.portfolio-box:nth-child(2) {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  img {
    width: 56rem;
    height: 36rem;
    border: 0.2rem solid var(--main-color);
    border-radius: 0.6rem;
  }

  .portfolio-content {
    padding-left: 0;
    padding-right: 9rem;
  }
}

.btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 34.5rem;
  height: 5rem;
}

.btn-box .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 100%;
  background: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--bg-color);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.coming-soon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 13rem;
  font-size: 3rem !important;
  color: white !important;
  text-transform: bold !important;
}

.btn-box .btn:hover {
  color: var(--main-color);
}

.btn-box .btn:nth-child(2) {
  background: transparent;
  color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover {
  color: var(--bg-color);
}

.btn-box .btn:nth-child(2)::before {
  background: var(--main-color);
}

.btn-box .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--second-bg-color);
  z-index: -1;
  transition: 0.5s;
}

.btn-box .btn:hover::before {
  width: 100%;
}

.following-project {
  border: 2px solid var(--main-color);
  border-radius: 0.6rem;
  width: 70rem;
  height: 32rem;
}

.portfolio-list {
  display: flex;
  //display: grid;
  //grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 3rem;
  margin-top: 2rem;

  .projects {
    border-radius: 0.6rem;
    position: relative;
    overflow: hidden;
  }

  .projects img {
    width: 43rem;
    height: 56rem;
    object-fit: cover;
    border-radius: 0.6rem;
    display: block;
    transition: transform 0.5s;
  }

  .layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), var(--main-color));
    //background: linear-gradient( to right, var(--main-color), var(--second-bg-color));
    border-radius: 0.6rem;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 2rem;
    transition: height 0.5s;

    h3 {
      font-size: 2.6rem;
      margin-bottom: 1rem;
    }

    a {
      margin-top: 2rem;
      background: white;
      color: var(--bg-color);
      text-decoration: none;
      font-size: 23px;
    }
  }
}

.home-sci {
  position: absolute;
  left: 13rem;
  bottom: 5rem;
  width: 170px;
  display: flex;
  justify-content: space-around;
}

.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: transparent;
  border: 0.2rem solid var(--bg-color);
  border-radius: 50%;
  font-size: 30px;
  color: var(--main-color);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.home-sci a:hover {
  color: var(--bg-color);
  background: var(--main-color);
}

.projects:hover img {
  transform: scale(1.1);
}

.projects:hover .layer {
  height: 100%;
}

/* BREAKPOINTS */

@media (max-width: 1630px) {
  .projects {
    width: 35rem;
    height: 45rem;
  }

  .home-sci {
    left: 9rem;
  }
}

@media (max-width: 1330px) {
  .projects {
    width: 30rem;
    height: 40rem;
  }

  .home-sci {
    left: 6rem;
    bottom: 2rem;

    a {
      height: 40px;
      width: 40px;
    }
  }
}

@media (max-width: 900px) {
  .projects {
    width: 27rem;
  }
}
@media (max-width: 820px) {
  .portfolio-list {
    flex-direction: column;
    gap: 7rem;
  }

  .projects {
    width: 35rem;
    height: 40rem;
  }

  .home-sci {
    left: 10rem;
  }
}



/* BREAKPOINTS */
@media (max-width: 1200px) {
  html {
      font-size: 55%;
  }
}

@media (max-width: 991px) {
  .header {
      padding: 2rem 4%;
  }

  section {
      padding: 10rem 4% 2rem;
  }

  .home {
      padding: 0 4%;
  }

  .footer {
      padding: 2rem 4%;
  }
}

@media (max-width: 850px) {
  .animate.home-img {
      width: 55%;
  }
}

@media (max-width: 768px) {
  .header {
      background: var(--bg-color);
  }

  p {
    text-align: center;
  }
  #menu-icon {
      display: block;
  }

  .navbar {
      position: absolute;
      top: 100%;
      left: -100%;
      width: 100%;
      padding: 1rem 4%;
      background: var(--main-color);
      box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
      z-index: 1;
      transition: .25s ease;
      transition-delay: .25s;
  }

  .navbar.active {
      left: 0;
      transition-delay: 0s;
  }

  .navbar .active-nav {
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background: var(--bg-color);
      border-top: .1rem solid rgba(0, 0, 0, .2);
      z-index: -1;
      transition: .25s ease;
      transition-delay: 0s;
  }

  .navbar.active .active-nav {
      left: 0;
      transition-delay: .25s;
  }

  .navbar a {
      display: block;
      font-size: 2rem;
      margin: 3rem 0;
      transform: translateX(-20rem);
      transition: .25s ease;
      transition-delay: 0s;
  }

  .navbar.active a {
      transform: translateX(0);
      transition-delay: .25s;
  }

  .home-imgHover {
      pointer-events: none;
      background: var(--bg-color);
      opacity: .6;
  }
}

@media (max-width: 520px) {
  html {
      font-size: 50%;
  }

  .home-content h1 {
      display: flex;
      flex-direction: column;
  }

  .home-sci {
      width: 160px;
  }

  .home-sci a {
      width: 38px;
      height: 38px;
  }
}

@media (max-width: 462px) {
  .home-content h1 {
      font-size: 5.2rem;
  }

  .education {
      padding: 10rem 4% 5rem 5%;
  }

  .contact form .input-box .input-field {
      width: 100%;
  }

  .footer {
      flex-direction: column-reverse;
  }

  .footer p {
      margin-top: 2rem;
      text-align: center;
  }
}

@media (max-width: 371px) {
  .home {
      justify-content: center;
  }

  .home-content {
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
  }

  .home-content h1 {
      font-size: 5rem;
  }
}

@keyframes slideInLeft {
  from {
      transform: translateX(-100%);
  }

  to {
      transform: translateX(0);
  }
}
