<section class="portfolio" id="portfolio">
  <h2 class="heading">
    My <span>Portfolio</span><span class="animate scroll" style="--i: 1"></span>
  </h2>
  <p class="animte-scroll">
    This page is a sample of my work written in Angular | Typescript | JavaScript - please feel free to try them out.
  </p>
  <div class="container">
    <div class="portfolio-list">
      <div class="projects">
        <img src="assets/img/portfolio-project1.PNG" alt="" />
        <div class="layer">
          <h3>Join</h3>
          <span>Javascript | PHP | HTML | CSS</span>
          <p>
            Task manager inspired by the Kanban System. Create and organize
            tasks using drag and drop functions, assign users and categories.
          </p>
          <div class="home-sci">
            <a href="https://maximilian-scheel.developerakademie.net/Join/" target="_blank"><i class="bx bx-link-external"></i></a>
            <a href="https://github.com/MaximilianScheel/Join" target="_blank"><i class='bx bxl-github'></i></a>
          </div>
        </div>
      </div>
      <div class="projects slideInLeft">
        <img src="assets/img/portfolio-project2.PNG" alt="" />
        <div class="layer">
          <h3>El Pollo Loco</h3>
          <span>Javascript | OOP | HTML | CSS</span>
          <p>
            Jump, run and throw game based on object-oriented approach. Help
            Pepe to find coins and tabasco salsa to fight against the crazy hen.
          </p>
          <div class="home-sci">
            <a href="https://maximilian-scheel.developerakademie.net/El%20Pollo%20Loco/" target="_blank"><i class="bx bx-link-external"></i></a>
            <a href="https://github.com/MaximilianScheel/El_Pollo_Loco" target="_blank"><i class='bx bxl-github'></i></a>
          </div>
        </div>
      </div>
      <div class="projects">
        <img src="assets/img/portfolio-project3.PNG" alt="" />
        <div class="layer">
          <h3>Business app | COMING SOON</h3>
          <span>Angular | Typescript | Firebase | HTML | SCSS</span>
          <p>
            A very Simple Customer Relationship Management system.
          </p>
          <div class="home-sci">
            <a href="#"><i class="bx bx-link-external" target="_blank"></i></a>
            <a href="#"><i class='bx bxl-github' target="_blank"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
