<section class="portfolio" id="portfolio">
  <h2 data-aos="fade-up" class="heading">
    My <span>Portfolio</span><span class="animate scroll" style="--i: 1"></span>
  </h2>
  <p data-aos="fade-up" class="animte-scroll">
    This page is a sample of my work written in Angular | Typescript | JavaScript - please feel free to try them out.
  </p>
  <div data-aos="fade-up" class="container" style="width: 100%;">
    <div class="portfolio-list">
      <div class="projects">
        <img src="assets/img/portfolio-project1.PNG" alt="" />
        <div class="layer">
          <h3>Join</h3>
          <span>Javascript | PHP | HTML | CSS</span>
          <p>
            Task manager inspired by the Kanban System. Create and organize
            tasks using drag and drop functions, assign users and categories.
          </p>
          <div class="btn-container">
            <div class="btn-box">
              <a href="https:/maxscheel.dev/Join" target="_blank" class="btn">Try out</a>
            </div>
            <div class="btn-box">
              <a href="https://github.com/MaximilianScheel/Join" target="_blank" class="btn">Github</a>
            </div>
          </div>
        </div>
      </div>
      <div class="projects">
        <img src="assets/img/portfolio-project2.PNG" alt="" />
        <div class="layer">
          <h3>El Pollo Loco</h3>
          <span>Javascript | OOP | HTML | CSS</span>
          <p>
            Jump, run and throw game based on object-oriented approach. Help
            Pepe to find coins and tabasco salsa to fight against the crazy hen.
          </p>
          <div class="btn-container">
            <div class="btn-box">
              <a href="https://maxscheel.dev/El%20Pollo%20Loco" target="_blank" class="btn">Try out</a>
            </div>
            <div class="btn-box">
              <a href="https://github.com/MaximilianScheel/El_Pollo_Loco" target="_blank" class="btn">Github</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-list" style="width: 100%">
    <div class="projects">
      <img src="assets/img/portfolio-project5.PNG" style="object-position: 20% 85%" alt="" />
      <div class="layer">
        <h3>Shoppy</h3>
        <span>React | Syncfusion | Tailwind</span>
        <p>
          An Admin Panel includes one Dashboard, Three Pages, Four Apps, and Seven fully functional charts by using
          Syncfusion.
        </p>
        <div class="btn-container">
          <div class="btn-box">
            <a href="https://maxscheel-dashboard.netlify.app/" target="_blank" class="btn">Try out</a>
          </div>
          <div class="btn-box">
            <a href="https://github.com/MaximilianScheel/Dashboard" target="_blank" class="btn">Github</a>
          </div>
        </div>
      </div>
    </div>
    <div class="projects">
      <img src="assets/img/portfolio-project4.PNG" style="object-position: 20% 85%" alt="" />
      <div class="layer">
        <h3>My Portfolio</h3>
        <span>Angular | Typescript | SCSS</span>
        <p>
          My personal Website.
        </p>
        <div class="btn-container">
          <div class="btn-box">
            <a [routerLink]="'/home'" fragment="home" class="btn">Try out</a>
          </div>
          <div class="btn-box">
            <a href="https://github.com/MaximilianScheel/my-portfolio" target="_blank" class="btn">Github</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>