<header class="header">
    <a href="#" class="logo">Max.<span class="animate" style="--i: 1"></span></a>
</header>

<section class="legal-notice">
    <div class="legal-notice-content">
        <h1>Imprint</h1>
        <p>Maximilian Scheel<br />Wrangelstr. 127<br />D-10997 Berlin</p><br>
        <br>
        <h2>Contact Information</h2>
        <p>Telephone: +49 159 063 75 887<br />E-Mail: <a href="mailto: contact@maxscheel.dev">contact@maxscheel.dev</a>

        </p>
    </div>
</section>
<app-footer></app-footer>