h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

span {
  color: var(--main-color);
}

.heading {
  position: relative;
  font-size: 5rem;
  margin-bottom: 3rem;
  text-align: center;

}

.contact {
  min-height: auto;
  padding-bottom: 7rem;
  animation-name: slideInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.contact h2 {
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
}

.contact form {
  max-width: 70rem;
  margin: 0 auto;
  text-align: center;
}

.contact form .input-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box .input-field {
  position: relative;
  width: 49%;
  margin: .8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
  width: 99%;
  height: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: transparent;
  border-radius: .6rem;
  border: .2rem solid var(--main-color);
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
  color: var(--text-color);
}

.contact form .focus {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--second-bg-color);
  border-radius: .6rem;
  z-index: -1;
  transition: .5s;
}

.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus {
  width: 100%;
}

.contact form .textarea-field {
  position: relative;
  margin: .8rem 0 2.7rem;
  display: flex;
}

.contact form .textarea-field textarea {
  resize: none;
}

.contact form .btn-box.btns .btn {
  cursor: pointer;
}

.btn-box .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 100%;
  background: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: .1rem;
  color: var(--bg-color);
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}


.btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 34.5rem;
  height: 5rem;
}


.btn-box .btn:hover {
  color: var(--main-color);
}

.btn-box .btn:nth-child(2) {
  background: transparent;
  color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover {
  color: var(--bg-color);
}

.btn-box .btn:nth-child(2)::before {
  background: var(--main-color);
}

.btn-box .btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--bg-color);
  z-index: -1;
  transition: .5s;
}

.btn-box .btn:hover::before {
  width: 100%;
}

.btn-box.btns {
  display: inline-block;
  width: 15rem;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.message-box {
  padding-top: 2rem;
  font-size: 2rem;
  color: green;
  text-align: center;
}


/* BREAKPOINTS */
@media (max-width: 1200px) {
  html {
      font-size: 55%;
  }
}

@media (max-width: 991px) {
  .header {
      padding: 2rem 4%;
  }

  section {
      padding: 10rem 4% 2rem;
  }

  .home {
      padding: 0 4%;
  }

  .footer {
      padding: 2rem 4%;
  }
}

@media (max-width: 850px) {
  .animate.home-img {
      width: 55%;
  }
}

@media (max-width: 768px) {
  .header {
      background: var(--bg-color);
  }

  #menu-icon {
      display: block;
  }

  .navbar {
      position: absolute;
      top: 100%;
      left: -100%;
      width: 100%;
      padding: 1rem 4%;
      background: var(--main-color);
      box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
      z-index: 1;
      transition: .25s ease;
      transition-delay: .25s;
  }

  .navbar.active {
      left: 0;
      transition-delay: 0s;
  }

  .navbar .active-nav {
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background: var(--bg-color);
      border-top: .1rem solid rgba(0, 0, 0, .2);
      z-index: -1;
      transition: .25s ease;
      transition-delay: 0s;
  }

  .navbar.active .active-nav {
      left: 0;
      transition-delay: .25s;
  }

  .navbar a {
      display: block;
      font-size: 2rem;
      margin: 3rem 0;
      transform: translateX(-20rem);
      transition: .25s ease;
      transition-delay: 0s;
  }

  .navbar.active a {
      transform: translateX(0);
      transition-delay: .25s;
  }

  .home-imgHover {
      pointer-events: none;
      background: var(--bg-color);
      opacity: .6;
  }
}

@media (max-width: 520px) {
  html {
      font-size: 50%;
  }

  .home-content h1 {
      display: flex;
      flex-direction: column;
  }

  .home-sci {
      width: 160px;
  }

  .home-sci a {
      width: 38px;
      height: 38px;
  }
}

@media (max-width: 462px) {
  .home-content h1 {
      font-size: 5.2rem;
  }

  .education {
      padding: 10rem 4% 5rem 5%;
  }

  .contact form .input-box .input-field {
      width: 100%;
  }

  .footer {
      flex-direction: column-reverse;
  }

  .footer p {
      margin-top: 2rem;
      text-align: center;
  }
}

@media (max-width: 371px) {
  .home {
      justify-content: center;
  }

  .home-content {
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
  }

  .home-content h1 {
      font-size: 5rem;
  }
}

@keyframes slideInLeft {
  from {
      transform: translateX(-100%);
  }

  to {
      transform: translateX(0);
  }
}
