<!-- skills section design -->
<section class="skills" id="skills">
  <h2 class="heading">
    My <span>Skills</span><span class="animate scroll" style="--i: 1"></span>
  </h2>
  <p class="animte-scroll">
    I have gained experience in building projects with various front end
    technologies and concepts.
  </p>
  <div class="skills-row">
    <div class="skills-column">
      <h3 class="title">
        <span class="animate scroll" style="--i: 2"></span>
      </h3>

      <div class="skills-box">
        <div class="skills-content">
          <img src="assets/icons/frame1.png" alt="" />
          <img src="assets/icons/frame10.png" alt="" />
          <img src="assets/icons/frame9.png" alt="" />
          <img src="assets/icons/frame8.png" alt="" />
          <img src="assets/icons/frame7.png" alt="" />
          <img src="assets/icons/frame6.png" alt="" />
          <img src="assets/icons/frame5.png" alt="" />
          <img src="assets/icons/frame4.png" alt="" />
          <img src="assets/icons/frame2.png" alt="" />
          <img src="assets/icons/frame3.png" alt="" />
        </div>

        <span class="animate scroll" style="--i: 3"></span>
      </div>
    </div>

    <span class="animate scroll" style="--i: 6"></span>
  </div>
</section>
